/* variables */

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
  --slate: #434455;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --lightslate: #8e8f99;
  --green: #31d0aa;
  --dairy: #fcfcfc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* main styles */

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
  color: var(--slate);
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.container {
  align-items: center;
  min-width: 320px;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 1157px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 428px;
  }
}

/*  --------- Header --------- */

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  /* box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);   */
}

.header-container {
  display: flex;
  align-items: center;
  /* width: 100%; */
}
@media (max-width: 767px) {
  .header-container {
    min-height: 70px;
    justify-content: space-between;
  }
}

.header-logo {
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 1157px) {
  .header-logo {
    margin-right: 120px;
  }
}
@media (max-width: 767px) {
  .header-logo {
    margin-right: 0;
  }
}

.header-logo-dark {
  color: var(--navyblue);
}

.header-logo:hover {
  color: var(--ocean);
}

.header-navigation {
  display: flex;
  margin-right: auto;
  align-items: center;
}
@media (max-width: 767px) {
  .header-navigation {
    display: none;
  }
}

.address {
  display: flex;
  align-items: center;
  font-style: normal;
}
@media (max-width: 767px) {
  .address {
    display: none;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  /* cursor: pointer; */
  border: none;
  border-radius: 50%;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle-icon {
  stroke: var(--navyblue);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-toggle:hover .menu-toggle-icon,
.menu-toggle:focus .menu-toggle-icon {
  stroke: var(--iris);
}

.header-navigation-list {
  display: flex;
  gap: 40px;
}

.header-navigation-link {
  display: block;
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation-link:hover,
.header-navigation-link:focus {
  color: var(--ocean);
}

.current {
  position: relative;
  color: var(--ocean);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  background-color: var(--ocean);
  content: '';
  display: flex;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
}

.current:hover::after {
  animation-name: changeBgColor;
  animation-duration: 2000ms;
  animation-timing-function: ease-in-out;
}

@keyframes changeBgColor {
  0% {
    background-color: var(--ocean);
    bottom: -1px;
  }

  50% {
    background-color: var(--white);
    bottom: 15px;
  }

  100% {
    background-color: var(--ocean);
    bottom: -1px;
  }
}

.adress-list {
  display: flex;
  gap: 40px;
}
@media (max-width: 1157px) {
  .adress-list {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 12px;
  }
}

.address-item-link {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 1157px) {
  .address-item-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

.address-item-link:hover,
.address-item-link:focus {
  color: var(--ocean);
}

/*  --------- Mobile menu --------- */

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: var(--white);
  z-index: 999;
  justify-content: space-between;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-mobile {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-top {
  margin-bottom: auto;
}

.menu-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-height: 450px) {
  .menu-navigation-list {
    gap: 10px;
  }
}

.menu-navigation-link {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-navigation-link:hover,
.menu-navigation-link:focus {
  color: var(--ocean);
}

.menu-contacts {
  margin-bottom: 48px;
}

.menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-tel-link {
  color: var(--iris);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 427px) {
  .menu-tel-link {
    font-size: 24px;
  }
}

.menu-email-link {
  color: var(--slate);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-tel-link:hover,
.menu-tel-link:focus,
.menu-email-link:hover,
.menu-email-link:focus {
  color: var(--ocean);
}

.menu-links-list {
  display: flex;
  gap: 56px;
}
@media (max-width: 427px) {
  .menu-links-list {
    gap: 30px;
  }
}

.menu-links-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--iris);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-links-link:hover,
.menu-links-link:focus {
  background-color: var(--green);
}

.menu-links-icon {
  fill: var(--cloud);
}

/*  --------- Footer --------- */

.footer {
  background-color: var(--navyblue);
  padding: 100px 0;
}
@media (max-width: 1157px) {
  .footer {
    padding: 96px 0 96px 108px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding: 96px 0;
  }
}

.footer-container {
  display: flex;
  align-items: baseline;
}
@media (max-width: 1157px) {
  .footer-container {
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
  }
}

.footer-logo-container {
  width: 264px;
  margin-right: 120px;
}
@media (max-width: 1157px) {
  .footer-logo-container {
    margin-right: 24px;
    margin-bottom: 72px;
  }
}
@media (max-width: 767px) {
  .footer-logo-container {
    margin-right: 0;
    text-align: center;
  }
}

.footer-logo-text {
  display: inline-block;
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}
@media (max-width: 157px) {
  .footer-logo-text {
    margin-bottom: 18px;
  }
}

.cloud {
  color: var(--cloud);
  margin-bottom: 0px;
}

.footer-text {
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media (max-width: 1157px) {
  .footer-text {
    text-align: left;
  }
}

.footer-media-container {
  margin-right: 80px;
}
@media (max-width: 1157px) {
  .footer-media-container {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .footer-media-container {
    text-align: center;
  }
}

.footer-media-text {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-media-list {
  display: flex;
  gap: 16px;
}

.footer-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--iris);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-media-link:hover,
.footer-media-link:focus {
  background-color: var(--green);
}

.footer-media-icon {
  fill: var(--cloud);
}

.footer-email-container {
  margin-right: auto;
}
@media (max-width: 1157px) {
  .footer-email-container {
    margin-right: 0;
    text-align: left;
  }
}
@media (max-width: 767px) {
  .footer-email-container {
    text-align: center;
    width: 100%;
  }
}

.footer-email-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
@media (max-width: 767px) {
  .footer-email-form {
    flex-direction: column;
    gap: 16px;
  }
}

.footer-email-label {
  align-items: center;
  min-width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 767px) {
  .footer-email-label {
    width: 100%;
    max-width: 396px;
  }
}

.footer-email-input {
  background-color: transparent;
  width: 100%;
  border: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  
}
@media (max-width: 767px) {
  .footer-email-input {
    display: block;
  }
}

.footer-email-input::placeholder {
  color: var(--white);
}

.footer-email-label:hover,
.footer-email-label:focus-within  {
  border-color: var(--iris);
}

.footer-email-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: bbackground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
}

.footer-email-button:hover,
.footer-email-button:focus {
  background-color: var(--ocean);
}

.footer-email-icon {
  margin-left: 16px;
  fill: var(--white);
}

/*   --------- Main content section ---------  */

/*  --------- Hero - Main action section --------- */

.hero {
  display: flex;
  align-content: center;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--navyblue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-bg-2x.jpg);
  }
}

.hero-container {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}
@media (max-width: 1157px) {
  .hero-container {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}

.hero-title {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .hero-title {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    max-width: 320px;
  }
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  color: var(--white);
  background-color: var(--iris);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-top: 48px;
  padding: 16px 32px;
  border: 0;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 1157px) {
  .hero-button {
    margin-top: 36px;
  }
}
@media (max-width: 767px) {
  .hero-button {
    margin-top: 72px;
  }
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

/*  --------- Main streams section --------- */

.streams {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 1157px) {
  .streams {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

.streams-container {
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.streams-list {
  display: flex;
  gap: 24px;
}
@media (max-width: 1157px) {
  .streams-list {
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}
@media (max-width: 767px) {
  .streams-list {
    flex-direction: column;
    gap: 72px;
  }
}

.streams-item {
  width: calc((100% - 72px) / 4);
}
@media (max-width: 1157px) {
  .streams-item {
    width: calc((100% - 24px) / 2);
  }
}
@media (max-width: 767px) {
  .streams-item {
    width: 100%;
  }
}

.streams-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cloud);
  border-radius: 4px;
  margin-bottom: 8px;
  height: 112px;
}
@media (max-width: 1157px) {
  .streams-box {
    display: none;
  }
}

.streams-item-tytle {
  color: var(--navyblue);
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
@media (max-width: 1157px) {
  .streams-item-tytle {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
  }
}
@media (max-width: 767px) {
  .streams-item-tytle {
    text-align: center;
  }
}

.streams-item-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media (max-width: 1157px) {
  .streams-item-text {
    max-width: 356px;
  }
}
@media (max-width: 767px) {
  .streams-item-text {
    max-width: 396px;
  }
}

/*  --------- Our activities section --------- */

.activities {
  display: flex;
  padding-bottom: 120px;
}
@media (max-width: 1157px) {
  .activities {
    display: none;
  }
}

.activities-tytle {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.activity-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.activity-item {
  width: calc((100% - 48px) / 3);
}

/*  --------- Our team section --------- */

.team {
  background-color: var(--cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 1157px) {
  .team {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

.team-container {
  display: flex;
  flex-direction: column;
}

.team-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
@media (max-width: 1157px) {
  .team-list {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
  }
}
@media (max-width: 767px) {
  .team-list {
    flex-direction: column;
    gap: 72px;
  }
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background-color: var(--white);
  display: inline-flex;
  width: calc((100% - 72px) / 4);
  flex-direction: column;
}
@media (max-width: 1157px) {
  .team-item {
    min-width: 264px;
  }
}

.team-item-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px 0px;
}

.team-item-name {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-item-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-contact-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-contact-item {
  width: calc((100% - 3 * 24px) / 4);
}

.team-contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-contact-link:hover,
.team-contact-link:focus {
  background-color: var(--ocean);
}

.team-contact-icon {
  fill: var(--cloud);
}

/*  --------- Customers --------- */

.customers {
  padding: 120px 0;
}
@media (max-width: 1157px) {
  .customers {
    padding: 96px 0;
  }
}

.customer-tytle {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
}
@media (max-width: 1157px) {
  .customers-list {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
  }
}
@media (max-width: 767px) {
  .customers-list {
    column-gap: 16px;
  }
}

.customer-item {
  width: calc((100% - 5 * 24px) / 6);
}
@media (max-width: 1157px) {
  .customer-item {
    width: calc((100% - 48px) / 3);
    max-width: 168px;
  }
}
@media (max-width: 767px) {
  .customer-item {
    width: calc((100% - 16px) / 2);
    max-width: 190px;
  }
}

.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  color: var(--lightslate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  border: 1px solid var(--ocean);
  color: var(--ocean);
}

.customer-box-icon {
  fill: var(--lightslate);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover .customer-box-icon,
.customer-link:focus .customer-box-icon {
  fill: currentColor;
}

/*  --------- Modal window --------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 767px) {
  .backdrop {
    width: 100vw;
    height: 100vh;
  }
}

.modal-window {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .modal-window {
    width: 100%;
    max-width: 392px;
    max-height: 100vh;
  }
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: var(--ocean);
  border: none;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .close-icon,
.modal-close-button:focus .close-icon {
  fill: var(--white);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-tytle {
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}
@media (max-width: 391px) {
  .modal-tytle {
    font-size: 12px;
  }
}

.modal-form {
  width: 100%;
}

.modal-input-box {
  margin-bottom: 8px;
}

.modal-input-label {
  display: block;
  color: var(--lightslate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-input {
  position: relative;
}

.modal-input-field {
  width: 100%;
  height: 40px;
  padding: 11px 38px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  color: var(--navyblue-modal);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-input-field:hover,
.modal-input-field:focus {
  border-color: var(--iris);
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--navyblue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-field:hover + .modal-input-icon,
.modal-input-field:focus + .modal-input-icon {
  fill: var(--iris);
}

.modal-input-textbox {
  margin-bottom: 16px;
}

.modal-textatea {
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--navyblue-modal);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-textatea:hover,
.modal-textatea:focus {
  border-color: var(--iris);
}

.modal-checkbox {
  margin-bottom: 24px;
}

.accept-policy-label {
  color: var(--lightslate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.accept-checkbox {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid var(--navyblue-modal);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.accept-checkbox:hover,
.modal-input-checkbox:focus + .accept-policy-label .accept-checkbox {
  border-color: var(--iris);
}

.modal-input-checkbox:checked + .accept-policy-label .accept-checkbox {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.privacy-policy-link {
  color: var(--iris);
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy-link:hover,
.privacy-policy-link:focus {
  color: var(--ocean);
}

.modal-form-button {
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.modal-form-button:hover,
.modal-form-button:focus {
  background-color: var(--ocean);
}

/*  --------- Portfolio menu --------- */

.portfolio-menu {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-menu-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-menu-button {
  font-family: 'Roboto', sans-serif;
  color: var(--iris);
  background-color: var(--cloud);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: flex;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-menu-button:hover,
.portfolio-menu-button:focus {
  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*  --------- Main portfolio content --------- */

.portfolio-content-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-content-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-content-link {
  text-decoration: none;
  display: block;
  flex-direction: column;
  align-items: start;
  flex-shrink: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content-link:hover,
.portfolio-content-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-content-link:hover .overlay,
.portfolio-content-link:focus .overlay {
  transform: translateY(0%);
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  background-color: var(--iris);
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-content-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-content-type {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
